 <div>
            <input type="radio" name="approval[]" value="approved" checked="checked" id='approvedbutton'> Approved<br>
            <input type="radio" name="approval[]" value="rejected"  id='rejectedbutton'> Rejected<br>
              <input type="submit" value="Submit">
  </div>
