 <div>
           <input type="radio" name="approval[]" value="approved" id='approvedbutton'> Approved<br>
           <input type="radio" name="approval[]" value="rejected" checked="checked" id='rejectedbutton'> Rejected<br>
           <input type="submit" value="Submit">
     </div>
