<html>
<head>
	<title>Search By</title>



</head>
<body>

	<div class="header">

    	<a href="https://www.snap36.com"><img src="https://cdn2.hubspot.net/hub/29492/file-705818670-jpg/TradeShows/IR_B2B/landingpagehead.jpg"></a>
      
    </div>


	<div class='findsearch'>

		<div> No product associated with that ID</div>

		<form action="/find" method="POST">
			Product Code
			<input type='text'  name='productcode'>


		 <input type='submit'  value='Submit'>
		</form>


	</div>


</body>
</html>
