<html>
<head>
	<title>Search By</title>



</head>
<body>

	<div id='content'>
		<div class="header">

	    	<a href="https://www.snap36.com"><img src="https://cdn2.hubspot.net/hub/29492/file-705818670-jpg/TradeShows/IR_B2B/landingpagehead.jpg"></a>
	      
	    </div>

	    <div class="navigation">
	    
		 	<a href="/approveditems/0"><div>Approved</div></a>
		    <a href="/rejecteditems/0"><div>Rejected</div></a>
		    <a href="/notreviewed"><div>Not Reviewed</div></a>
		    <a href="/gallery"><div>Status</div></a>
        	<div><b>Find By ID</b></div>


		</div>

		<br>
		<br>
		
		<div class='findsearch'>


			<form action="/find" method="POST">
				Product Code:
				<input type='text'  name='productcode'>


			 <input type='submit'  value='Submit'>
			</form>


		</div>
	</div>


</body>
</html>
